<!DOCTYPE html>
<html ng-app="Jeopardy">

<head>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Nunito:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="main.css">
    <title></title>
</head>

<body>
<div class="maincontainer">


    <section ng-controller="JeopardyController">
        <h5>Score: {{score}}</h5>

        <h2>You've chosen: {{newQuestion.question}} for: {{newQuestion.value}}</h2>
        <input type="text" ng-model="humananswer">
        <button ng-click="answerClick()">Answer</button>
        <button ng-click="newQ()">Get A New Question</button>
        <h2>Your Answer: {{humananswer}}</h2>
        <h2>Correct Answer: {{answer}}</h2>
        <h3>Previous Questions:</h3>
        <ul ng-repeat="question in arrayOfQuestionHistory">
            <li>{{question.question}}</li>
        </ul>
    </section>

</div>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js" charset="utf-8"></script>
    <script src="main.js"></script>
</body>

</html>
