body {
    background: url(https://lh5.ggpht.com/bqLqUYN4N4e_p56jLQVMwCI8GJ_rxX0-7Xf0c9eSlMhK8umwefrd2Vu7m0lc7in8q31q=h900) no-repeat 50% 20% fixed;
    background-size: cover;
    background-position: left;
}
h1 {
    color: white;
}
h5 {
    float: right;
    color: #fff;
    margin-right: 2%;
    margin-top: -6%;
    font-size: 36px;
}
h2 {
    color: #fff;
    font-family: 'Nunito', sans-serif;
    text-align: left;
}
h3, ul {
    color: white;
}
ul {
    overflow: scroll;
    font-family: 'Nunito', sans-serif;
}
.maincontainer {
    width: 70%;
    margin-left: 15%;
    border: solid 4px #000;
    padding-top: 50px;
    background: rgba(0, 0, 0, .7);
}
.logincontainer {
    width: 60%;
    margin-left: 20%;
    border: solid 4px #000;
    background: rgba(0, 0, 0, .7);
}
.gameovercontainer {
    width: 60%;
    margin-left: 20%;
    border: solid 4px #000;
    background: rgba(0, 0, 0, .7);
    text-align: center;
}
ul a {
    color: white;
}
li {
    color: white;
    list-style-type: none;
    text-decoration: none;
}
input {
    font-size: 25px;
}
button {
    width: 15%;
    font-size: 15px;
    margin-top: -2%;
}
.hidden {
    display: none;
}
.categorydiv {
  display: inline-flex;
}
